# Порт сервера
PORT=5000

# Режим работы
NODE_ENV=development

# API ключ OpenWeatherMap
# Получите бесплатный ключ на https://openweathermap.org/api
OPENWEATHER_API_KEY=5f3d985f07fbd3cbe0f4e435de0ce134
ADMIN_TOKEN=secrettoken